asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.1
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.9
django-extensions==4.1
django-ipware==7.0.1
djangorestframework==3.16.0
idna==3.10
mysqlclient==2.2.7
pillow==11.2.1
python-decouple==3.8
python-ipware==3.0.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
